.sidebar {
    background-color: rgb(93, 173, 187);

    flex-grow: 0.15;
    font-size: 1.7em;
}

.sidebar > a {
    text-decoration: none;
    color: white;
}

.sidebar_links {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.sidebar_links > li > a {
    text-decoration: none;
    color: white;
}

.sidebar_links > li > a:hover {
    background-color: rgb(59, 120, 131);
}