ul li {
  cursor:pointer; 
  text-align: center;
}
.navi{
    border:1px solid rgb(128, 126, 126) !important;
    border-radius:10px;
    padding:10px;
    display: flex;
    flex:3;
    margin:10px 10px;
    /* margin-left:10px; */

}
.r{
    /* border:2px solid blue; */
   /* padding:10px; */
   width:100%;
   display: flex;

   
}
.dash{
    border:2px solid  blueviolet !important;
    border-radius:10px;
    padding:0px;
    flex:7;
    margin:10px;
    box-shadow:0px 0px 10px 1px rgb(128, 126, 126) , inset 0px 0px 10px 0px cornsilk;
    transform: rotate(-3deg);
    background-color:  rgb(199, 199, 46);
    

}
.lisst {
    flex:1;
    
}
.lisst li{
    background-color: transparent;
    color:white
}
.cheaders{
    text-align:center;
    font-weight:200;
    font-size:2em;
    color:white
}
.tilt{
    height:100%;
    width:100%;
    margin:0px;
    transform: rotate(6deg);
    border:1px dashed  rgb(199, 199, 46) ;
    padding:10px;
    border-radius:10px;
    background-color:blueviolet;
    box-shadow: 0px 0px 5px 3px blueviolet ;
}
.playarea{
    height:70%;
    width:70%;
    position:relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%) rotate(-3deg);
    border:1px solid white;
    border-radius:10px;
    background-color:white;
   

}
.back{
    background-color: #7c7a7a;
}
